<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>868878245010-orcsomt4jvlm7vtg4j817kq4ulstqimc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.868878245010-orcsomt4jvlm7vtg4j817kq4ulstqimc</string>
	<key>API_KEY</key>
	<string>AIzaSyBNIn70Q6-m51PsjdpzCi2Ov30iO4kQnOM</string>
	<key>GCM_SENDER_ID</key>
	<string>868878245010</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dwellant.csite</string>
	<key>PROJECT_ID</key>
	<string>imageviewer-61047</string>
	<key>STORAGE_BUCKET</key>
	<string>imageviewer-61047.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:868878245010:ios:5864d5cf23b9de5a</string>
	<key>DATABASE_URL</key>
	<string>https://imageviewer-61047.firebaseio.com</string>
</dict>
</plist>